# For loop

In [2]:
for i in [1,2,3,4]:
  print(i)

1
2
3
4

In [4]:
for i in [1, 'OK', 'Yes']:
  print(i)

1
OK
Yes

# Range (star, stop, step)

In [5]:
for i in range(1,15,3):
  print(i)

1
4
7
10
13

In [1]:
for i in range(10,8,-1):
  print(i)

10
9

In [3]:
for i in range(20,1,-4):
    print(i)

20
16
12
8
4

In [6]:
# 1 dan boshlab 10 gacha bolgan sonlarni juftlarini toping.(1-usul)

for i in range(2,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [7]:
# 1 dan boshlab 10 gacha bolgan sonlarni juftlarini toping.(2-usul)

for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [8]:
# 1 dan boshlaba 10gacha sonlarning yigindisini toping.

yigindi=0
for i in range(1,11):
    yigindi=yigindi+i
    print(i)
print('1da 10gacha sonalr yigindisi:',yigindi, 'ga teng')

1
2
3
4
5
6
7
8
9
10
1da 10gacha sonalr yigindisi: 55 ga teng

In [9]:
yigindi2=0
for i in range(1,11):
    yigindi2+=i
    print(i)
print('1dan 10gacha sonlar yigindisi:', yigindi2, 'ga teng')

1
2
3
4
5
6
7
8
9
10
1dan 10gacha sonlar yigindisi: 55 ga teng

In [10]:
# 1dan bsohlab 5gacha sonlar kopaytmasini toping.

kopaytma=1
for i in range(1,6):
    kopaytma*=i 
    print(i)
print(kopaytma)

1
2
3
4
5
120

In [11]:
kopaytma2=1
for i in range(1,9):
    kopaytma2*=i
    print(i)
print('1dan 9gacha sonlar kopaytmasi:',kopaytma2, 'ga teng')

1
2
3
4
5
6
7
8
1dan 9gacha sonlar kopaytmasi: 40320 ga teng

In [13]:
kopaytma3=1
for i in range(-4,-1):
    kopaytma3*=i
    print(i)
print(kopaytma3)

-4
-3
-2
-24

# Vazifa topshiriq

In [ ]:
# Ixtiyoriy listda berilgan sonlarni yigindisini toping
# Ixtiyoriy listda berilgan sonlarni kopaytmasini toping
# Ixtiyoriy listda berilgan juft sonlarni yigindisini toping
# Ixtiyoriy listda berilgan toq sonlarni yigindisini toping
# Ixtiyoriy listda berilgan musbat va toq sonlarni yigindisini toping
# Ixtiyoriy listda berilgan musbat lekin toq bolmagan sonlarni sonlarni yigindisini toping
# Ixtiyoriy listda berilgan musbat va toq va 3 ga bolinadigan  sonlarni yigindisini toping
# Ixtiyoriy listda berilgan manfiy va 2  xonalari  sonlarni yigindisini toping
# Ixtiyoriy listda berilgan 5ga  karrali manfiy  sonlarni yigindisini toping
# Ixtiyoriy listda berilgan 5ga  karrali manfiy  sonlarni kopaytmasini toping

In [67]:
# 1 Ixtiyoriy listda berilgan sonlarni yigindisini toping.  


sonlar = [3, 5, 7, 9, 12, -4]

yigindi = 0
for i in sonlar:
    yigindi += i

print('Listdagi sonlar yigindisi:', yigindi)

Listdagi sonlar yigindisi: 32

In [60]:
# 2 Ixtiyoriy listda berilgan sonlarni kopaytmasini toping

kopaytmaa = 1
for i in range(1, 7):
    kopaytmaa *= i
    print(i)
print('kopaytmasi',kopaytmaa, 'ga teng')

1
2
3
4
5
6
kopaytmasi 720 ga teng

In [61]:
# 3 Ixtiyoriy listda berilgan juft sonlarni yigindisini toping

sonlar = [3, 5, -4, 2, -10, 15, 9, -25]
juft_yigindi = 0
for i in sonlar:
    if i % 2 == 0:
        juft_yigindi += i
print('Juft sonlar yigindisi:', juft_yigindi)

Juft sonlar yigindisi: -12

In [57]:
# 4 Ixtiyoriy listda berilgan toq sonlarni yigindisini toping

sonlar = [3, 5, -4, 2, -10, 15, 9, -25]
toq_yigindi = 0
for i in sonlar:
    if i % 2 != 0:
        juft_yigindi += i
print('Toq sonlar yigindisi:', toq_yigindi)

Toq sonlar yigindisi: 0

In [ ]:
# 5 Ixtiyoriy listda berilgan musbat va toq sonlarni yigindisini toping

sonlar = [3, 5, -4, 2, -10, 15, 9, -25]
musbat_toq_yigindi = 0
for i in sonlar:
    if i > 0 and i % 2 != 0:
        musbat_toq_yigindi += i
print("Musbat va toq sonlar yigindisi:", musbat_toq_yigindi)

Musbat va toq sonlar yigindisi: 32

In [56]:
# 6 Ixtiyoriy listda berilgan musbat lekin toq bolmagan sonlarni sonlarni yigindisini toping

sonlar = [3, 5, -4, 2, -10, 15, 9,6, -25]
musbat_lekin_toq_emas = 0
for i in sonlar:
    if i > 0 and i % 2 == 0:
        musbat_lekin_toq_emas += i
print('Musbat lekin toq bolmagan sonlar yigindisi:', musbat_lekin_toq_emas)

Musbat lekin toq bolmagan sonlar yigindisi: 8

In [55]:
# 7 Ixtiyoriy listda berilgan musbat va toq va 3 ga bolinadigan  sonlarni yigindisini toping


sonlar = [3, 5, -4, 2, -10, 15, 9,6, -25]
musbat_toq_uchga = 0
for i in sonlar:                             #list ichidan:
    if i > 0 and i % 2 != 0 and i % 3 == 0: # musbat,toq va 3ga bolinadigan
        musbat_toq_uchga += i               #yiginsini topish
print('Musbat, toq va 3 ga bolinadigan sonlar yigindisi:', musbat_toq_uchga)

Musbat, toq va 3 ga bolinadigan sonlar yigindisi: 27

In [ ]:
#8  Ixtiyoriy listda berilgan manfiy va 2  xonalari  sonlarni yigindisini toping


sonlar = [3, 5, -4, 2, -10, 15, 9,6, -25]
manfiy_ikki_xona = 0
for i in sonlar:
    if i < 0 and -99 <= i <= -10:
        manfiy_ikki_xona += i
print("Manfiy va ikki xonali sonlar yigindisi:", manfiy_ikki_xona)

Manfiy va ikki xonali sonlar yigindisi: -35

In [63]:
# 9 Ixtiyoriy listda berilgan 5ga  karrali manfiy  sonlarni yigindisini toping


sonlar = [3, 5, -4, 2, -10, 15, 9,6, -25]
manfiy_besh = 0
for i in sonlar:
    if i < 0 and i % 5 == 0:
        manfiy_besh += i
print('5 ga karrali manfiy sonlar yig‘indisi', manfiy_besh)

5 ga karrali manfiy sonlar yig‘indisi -35

In [64]:
#10 Ixtiyoriy listda berilgan 5ga  karrali manfiy  sonlarni kopaytmasini toping

sonlar = [3, 5, -4, 2, -10, 15, 9,6, -25]
manfiy_besh_kopaytma = 1
for i in sonlar:
    if i < 0 and i % 5 == 0:
        manfiy_besh_kopaytma *= i
print("5 ga karrali manfiy sonlar ko‘paytmasi:", manfiy_besh_kopaytma)

5 ga karrali manfiy sonlar ko‘paytmasi: 250

# Foor loop + Missing Values

In [21]:
import pandas as pd

In [25]:
df=pd.read_csv('test.csv')

C:\Users\Admin\AppData\Local\Temp\ipykernel_12008\3746027427.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('test.csv')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999997 entries, 0 to 999996
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Age                999997 non-null  int64
 1   Grade              999997 non-null  int64
 2   Gender             999994 non-null  object
 3   Race               999997 non-null  object
 4   SES_Quartile       999997 non-null  object
 5   ParentalEducation  999997 non-null  object
 6   SchoolType         999997 non-null  object
 7   Locale             999997 non-null  object
 8   TestScore_Math     999997 non-null  float64
 9   TestScore_Reading  999995 non-null  float64
 10  TestScore_Science  999997 non-null  float64
 11  GPA                999997 non-null  float64
 12  AttendanceRate     999997 non-null  float64
 13  StudyHours         999995 non-null  float64
 14  InternetAccess     999997 non-null  int64
 15  Extracurricular    999997 non-null  int64
 16  PartTimeJob        999997 non-null  int64
 17  ParentSupport      999996 non-null  float64
 18  Romantic           999996 non-null  float64
 19  FreeTime           999994 non-null  float64
 20  GoOut              999990 non-null  float64
dtypes: float64(10), int64(5), object(6)
memory usage: 160.2+ MB

In [27]:
df.isnull().sum()

Age                  0
Grade                0
Gender               3
Race                 0
SES_Quartile         0
ParentalEducation    0
SchoolType           0
Locale               0
TestScore_Math       0
TestScore_Reading    2
TestScore_Science    0
GPA                  0
AttendanceRate       0
StudyHours           2
InternetAccess       0
Extracurricular      0
PartTimeJob          0
ParentSupport        1
Romantic             1
FreeTime             3
GoOut                7
dtype: int64

In [28]:
# foor loop yordamida ustunlarni alohida ajratish.

for col in df.columns:
    print(col)

Age
Grade
Gender
Race
SES_Quartile
ParentalEducation
SchoolType
Locale
TestScore_Math
TestScore_Reading
TestScore_Science
GPA
AttendanceRate
StudyHours
InternetAccess
Extracurricular
PartTimeJob
ParentSupport
Romantic
FreeTime
GoOut

In [31]:
# for + if

for col in df.columns:                                         # har bir ustun ichiga kirib tekshirib chiqishi 
    if df[col].isnull().any():                               # tushirib qoldirilgan qiymatlar broligini 
        if df[col].dtype=='object':                           # data type ni aniqlash        
            df[col].fillna(df[col].mode()[0],inplace=True)     #agar dtype object bolsa mode bn toldirishi 
        else:                                                    # aks holda:
            df[col].fillna(df[col].mean(),inplace=True)           # mean bn toldirishi

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999997 entries, 0 to 999996
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Age                999997 non-null  int64
 1   Grade              999997 non-null  int64
 2   Gender             999997 non-null  object
 3   Race               999997 non-null  object
 4   SES_Quartile       999997 non-null  object
 5   ParentalEducation  999997 non-null  object
 6   SchoolType         999997 non-null  object
 7   Locale             999997 non-null  object
 8   TestScore_Math     999997 non-null  float64
 9   TestScore_Reading  999997 non-null  float64
 10  TestScore_Science  999997 non-null  float64
 11  GPA                999997 non-null  float64
 12  AttendanceRate     999997 non-null  float64
 13  StudyHours         999997 non-null  float64
 14  InternetAccess     999997 non-null  int64
 15  Extracurricular    999997 non-null  int64
 16  PartTimeJob        999997 non-null  int64
 17  ParentSupport      999997 non-null  float64
 18  Romantic           999997 non-null  float64
 19  FreeTime           999997 non-null  float64
 20  GoOut              999997 non-null  float64
dtypes: float64(10), int64(5), object(6)
memory usage: 160.2+ MB

# Vazifa topshiriq

In [94]:
# for loopdan foydalangan holda va foydalanmagan holda missing qiymatlarni 5 ta usulda toldirish.

df=pd.read_csv('cybersecurity_intrusion_data.csv')

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9537 entries, 0 to 9536
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   session_id           9537 non-null   object
 1   network_packet_size  9537 non-null   int64
 2   protocol_type        9537 non-null   object
 3   login_attempts       9537 non-null   int64
 4   session_duration     9537 non-null   float64
 5   encryption_used      7572 non-null   object
 6   ip_reputation_score  9537 non-null   float64
 7   failed_logins        9536 non-null   object
 8   browser_type         9536 non-null   object
 9   unusual_time_access  9536 non-null   float64
 10  attack_detected      9534 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 819.7+ KB

In [75]:
for col in df.columns:
    if df[col].isnull().any():
        if df[col].dtype=='object':
            df[col].fillna(df[col].mode()[0],inplace=True)
        else:
            df[col].fillna(df[col].mean(),inplace=True)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9537 entries, 0 to 9536
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   session_id           9537 non-null   object
 1   network_packet_size  9537 non-null   int64
 2   protocol_type        9537 non-null   object
 3   login_attempts       9537 non-null   int64
 4   session_duration     9537 non-null   float64
 5   encryption_used      9537 non-null   object
 6   ip_reputation_score  9537 non-null   float64
 7   failed_logins        9537 non-null   object
 8   browser_type         9537 non-null   object
 9   unusual_time_access  9536 non-null   float64
 10  attack_detected      9537 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 819.7+ KB

In [ ]:
# one hot encoding bn soxta ustun yasash

dummies=pd.get_dummies(df['browser_type'],prefix='ustuncha',dtype=int)

In [89]:
dummies

,ustuncha_0,ustuncha_1,ustuncha_Chrome,ustuncha_Edge,ustuncha_Firefox,ustuncha_Safari,ustuncha_Unknown
0,0,0,0,1,0,0,0
1,0,0,0,0,1,0,0
2,0,0,1,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...
9532,0,0,1,0,0,0,0
9533,0,0,1,0,0,0,0
9534,0,0,0,0,1,0,0
9535,0,0,1,0,0,0,0
9536,0,0,1,0,0,0,0

In [96]:
#birlashtirish yani eskisini tasglab yuborish

df=pd.concat([df.drop(columns='browser_type'), dummies],axis=1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9537 entries, 0 to 9536
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   session_id           9537 non-null   object
 1   network_packet_size  9537 non-null   int64
 2   protocol_type        9537 non-null   object
 3   login_attempts       9537 non-null   int64
 4   session_duration     9537 non-null   float64
 5   encryption_used      7572 non-null   object
 6   ip_reputation_score  9537 non-null   float64
 7   failed_logins        9536 non-null   object
 8   unusual_time_access  9536 non-null   float64
 9   attack_detected      9534 non-null   float64
 10  ustuncha_0           9537 non-null   int64
 11  ustuncha_1           9537 non-null   int64
 12  ustuncha_Chrome      9537 non-null   int64
 13  ustuncha_Edge        9537 non-null   int64
 14  ustuncha_Firefox     9537 non-null   int64
 15  ustuncha_Safari      9537 non-null   int64
 16  ustuncha_Unknown     9537 non-null   int64
dtypes: float64(4), int64(9), object(4)
memory usage: 1.2+ MB

In [106]:
df.head()

,session_id,network_packet_size,protocol_type,login_attempts,session_duration,encryption_used,ip_reputation_score,failed_logins,unusual_time_access,attack_detected,ustuncha_0,ustuncha_1,ustuncha_Chrome,ustuncha_Edge,ustuncha_Firefox,ustuncha_Safari,ustuncha_Unknown
0,SID_00001,599,TCP,4,492.983263,DES,0.606818,1,0.0,1.0,0,0,0,1,0,0,0
1,SID_00002,472,TCP,3,1557.996461,DES,0.301569,0,0.0,0.0,0,0,0,0,1,0,0
2,SID_00003,629,TCP,3,75.044262,DES,0.739164,2,0.0,1.0,0,0,1,0,0,0,0
3,SID_00004,804,UDP,4,601.248835,DES,0.123267,0,0.0,1.0,0,0,0,0,0,0,1
4,SID_00005,453,TCP,5,532.540888,AES,0.054874,1,0.0,0.0,0,0,0,0,1,0,0

In [102]:
df['encryption_used'].fillna(df['encryption_used'].mode()[0], inplace=True)

In [104]:
df['unusual_time_access'].fillna(df['unusual_time_access'].mean(),inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12008\36685662.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['unusual_time_access'].fillna(df['unusual_time_access'].mean(),inplace=True)

In [105]:
df['attack_detected'].fillna(df['attack_detected'].median(),inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12008\3909625954.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['attack_detected'].fillna(df['attack_detected'].median(),inplace=True)

In [ ]:
df.drop('failed_logins', axis=1, inplace=True)

In [114]:
df['attack_detected'].fillna('1.0', inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12008\2601806197.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['attack_detected'].fillna('1.0', inplace=True)

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9537 entries, 0 to 9536
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   session_id           9537 non-null   object
 1   network_packet_size  9537 non-null   int64
 2   protocol_type        9537 non-null   object
 3   login_attempts       9537 non-null   int64
 4   session_duration     9537 non-null   float64
 5   encryption_used      9537 non-null   object
 6   ip_reputation_score  9537 non-null   float64
 7   unusual_time_access  9537 non-null   float64
 8   attack_detected      9537 non-null   float64
 9   ustuncha_0           9537 non-null   int64
 10  ustuncha_1           9537 non-null   int64
 11  ustuncha_Chrome      9537 non-null   int64
 12  ustuncha_Edge        9537 non-null   int64
 13  ustuncha_Firefox     9537 non-null   int64
 14  ustuncha_Safari      9537 non-null   int64
 15  ustuncha_Unknown     9537 non-null   int64
dtypes: float64(4), int64(9), object(3)
memory usage: 1.2+ MB