# for loop + Scaling + shortcuts

In [18]:
import pandas as pd
df=pd.read_csv('cards_data.csv')

In [19]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6128 entries, 0 to 6127
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     6128 non-null   int64
 1   client_id              6128 non-null   int64
 2   card_brand             6119 non-null   object
 3   card_type              6125 non-null   object
 4   card_number            6122 non-null   float64
 5   expires                6128 non-null   object
 6   cvv                    6128 non-null   int64
 7   has_chip               6124 non-null   object
 8   num_cards_issued       6128 non-null   int64
 9   credit_limit           6128 non-null   object
 10  acct_open_date         6128 non-null   object
 11  year_pin_last_changed  6128 non-null   int64
 12  card_on_dark_web       6118 non-null   object
dtypes: float64(1), int64(5), object(7)
memory usage: 622.5+ KB

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4.344677e+15,12/2022,623,YES,2,$24295,09/2002,2008,No
1,2731,825,Visa,Debit,4.956966e+15,12/2020,393,YES,2,$21968,04/2014,2014,No
2,3701,825,Visa,Debit,4.582313e+15,02/2024,719,YES,2,$46414,07/2003,2004,No
3,42,825,Visa,Credit,4.879494e+15,08/2024,693,NO,1,$12400,01/2003,2012,No
4,4659,825,Mastercard,Debit (Prepaid),5.722875e+15,03/2009,75,YES,1,$28,09/2008,2009,No

In [21]:
# missing values  toldirish


for col in df.columns:
  if df[col].isnull().any():
    if df[col].dtype=='object':
      df[col].fillna(df[col].mode(), inplace=True)
    else:
      df[col].fillna(df[col].mode()[0],inplace=True)

In [22]:
df.info()
df.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6128 entries, 0 to 6127
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     6128 non-null   int64
 1   client_id              6128 non-null   int64
 2   card_brand             6119 non-null   object
 3   card_type              6125 non-null   object
 4   card_number            6128 non-null   float64
 5   expires                6128 non-null   object
 6   cvv                    6128 non-null   int64
 7   has_chip               6124 non-null   object
 8   num_cards_issued       6128 non-null   int64
 9   credit_limit           6128 non-null   object
 10  acct_open_date         6128 non-null   object
 11  year_pin_last_changed  6128 non-null   int64
 12  card_on_dark_web       6118 non-null   object
dtypes: float64(1), int64(5), object(7)
memory usage: 622.5+ KB

id                       6128
client_id                1994
card_brand                  7
card_type                   4
card_number              6122
expires                   259
cvv                       998
has_chip                    2
num_cards_issued            3
credit_limit             3643
acct_open_date            303
year_pin_last_changed      19
card_on_dark_web            1
dtype: int64

In [23]:
# Encoding

from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()


for col in df.columns:
  if df[col].dtype=='object':
    if df[col].nunique()<=7:
      dummies=pd.get_dummies(df[col],prefix=col,dtype=int)
      df=pd.concat([df.drop(columns=col),dummies])
    else:
      df[col]=encoder.fit_transform(df[col])

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98048 entries, 0 to 6127
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         6128 non-null   float64
 1   client_id                  6128 non-null   float64
 2   card_number                6128 non-null   float64
 3   expires                    24512 non-null  float64
 4   cvv                        6128 non-null   float64
 5   num_cards_issued           6128 non-null   float64
 6   credit_limit               49024 non-null  float64
 7   acct_open_date             49024 non-null  float64
 8   year_pin_last_changed      6128 non-null   float64
 9   card_brand_Amex            6128 non-null   float64
 10  card_brand_Discover        6128 non-null   float64
 11  card_brand_Ma              6128 non-null   float64
 12  card_brand_Mast            6128 non-null   float64
 13  card_brand_Mastercard      6128 non-null   float64
 14  card_brand_Visa            6128 non-null   float64
 15  card_brand_d               6128 non-null   float64
 16  card_type_ (Prepaid)       12256 non-null  float64
 17  card_type_Credit           12256 non-null  float64
 18  card_type_Debit            12256 non-null  float64
 19  card_type_Debit (Prepaid)  12256 non-null  float64
 20  has_chip_NO                24512 non-null  float64
 21  has_chip_YES               24512 non-null  float64
 22  card_on_dark_web_No        49024 non-null  float64
dtypes: float64(23)
memory usage: 18.0 MB

In [25]:
# Saling (1)

from sklearn.preprocessing import MinMaxScaler
minmaxscaler=MinMaxScaler()

for col in df.columns:                            # barcha columns ga kirib chiq va:
  if df[col].dtype!='object':                       # agar dtype object bolmasa:
    df[col]=minmaxscaler.fit_transform(df[[col]])      #minmaxscaler [0,1] orqali scaler qilish

In [26]:
df.head()

,id,client_id,card_number,expires,cvv,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_brand_Amex,...,card_brand_Mastercard,card_brand_Visa,card_brand_d,card_type_ (Prepaid),card_type_Credit,card_type_Debit,card_type_Debit (Prepaid),has_chip_NO,has_chip_YES,card_on_dark_web_No
0,0.736208,0.412706,0.603929,0.988417,0.623624,0.5,0.575350,0.683168,0.333333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.444426,0.412706,0.695356,0.980695,0.393393,0.5,0.508921,0.316832,0.666667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.602278,0.412706,0.639413,0.154440,0.719720,0.5,0.828164,0.511551,0.111111,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.006835,0.412706,0.683788,0.644788,0.693694,0.0,0.104859,0.029703,0.555556,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.758177,0.412706,0.809720,0.181467,0.075075,0.0,0.660170,0.702970,0.388889,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Scaling (2)
# for loop ni ishlatmasdan scaling qilish usuli


num_col=df.select_dtypes(include=['int64', 'float64']).columns  #<-- columns ni yozishdan maqsad faqat ustunlar nomini ajratib olish uchun
df[num_col]=minmaxscaler.fit_transform(df[num_col])

In [30]:
df.head()

,id,client_id,card_number,expires,cvv,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_brand_Amex,...,card_brand_Mastercard,card_brand_Visa,card_brand_d,card_type_ (Prepaid),card_type_Credit,card_type_Debit,card_type_Debit (Prepaid),has_chip_NO,has_chip_YES,card_on_dark_web_No
0,0.736208,0.412706,0.603929,0.988417,0.623624,0.5,0.575350,0.683168,0.333333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.444426,0.412706,0.695356,0.980695,0.393393,0.5,0.508921,0.316832,0.666667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.602278,0.412706,0.639413,0.154440,0.719720,0.5,0.828164,0.511551,0.111111,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.006835,0.412706,0.683788,0.644788,0.693694,0.0,0.104859,0.029703,0.555556,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.758177,0.412706,0.809720,0.181467,0.075075,0.0,0.660170,0.702970,0.388889,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# Shortcuts  bir nechta sozni birvaqtda birga ozzgartirish uchun --> block ga olish --> CTRL+F2

# Nested If

In [34]:
# Agar son 2 ga bolinsa OK aks holda Xato degan sozni ekranga chiqaring.

a=int(input('sonni kiriting'))
if a>0:
  if a%2==0:
    print('OK')
  else:
    print('Xato')

OK

In [37]:
a=int(input('sonni kiriting'))
if a>0 and a%2==0:
    print('OK')
else:
    print('Xato')

Xato

# List Comprehension
-Bu bitta qatorda soddaroq hal qilish

In [63]:
# “comprehension” sozi 'tushuncha, ichki mazmun' degan manoda ishlatiladi, Python-da esa bir qator ichida yangi list yaratish usulini bildiradi.

In [53]:
a=[1,2,3,4,5]
type(a)

list

In [54]:
b={1,2,3,4,5}
type(b)

set

In [55]:
c=(1,2,3,4,5)
type(c)

tuple

In [56]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [57]:
[i for i in range(1,10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
for i in range(1,15):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14

In [59]:
[i for i in range(1,15) if i%2==0]

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
['juft' if i%2==0 else 'toq' for i in range(1,15)]

['toq',
 'juft',
 'toq',
 'juft',
 'toq',
 'juft',
 'toq',
 'juft',
 'toq',
 'juft',
 'toq',
 'juft',
 'toq',
 'juft']

In [62]:
#List Comprehension da elif amali ishlamaydi!

In [64]:
['musbat' if i>0 else 'manfiy' for i in range(-4,5)]

['manfiy',
 'manfiy',
 'manfiy',
 'manfiy',
 'manfiy',
 'musbat',
 'musbat',
 'musbat',
 'musbat']

In [65]:
['musbat' if i>0 else ('manfiy' if i<0 else 'nol')for i in range(-4,5)]

['manfiy',
 'manfiy',
 'manfiy',
 'manfiy',
 'nol',
 'musbat',
 'musbat',
 'musbat',
 'musbat']

# Vazifa
 1.Dataset topib datapreprocessing qilish, 2.Boshqalarni projectidan organish, 3.misollarni bajarish.

In [50]:
df=pd.read_csv('heart_disease.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           4227 non-null   object
 1   age              4238 non-null   int64
 2   education        4120 non-null   object
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4209 non-null   float64
 5   BPMeds           4176 non-null   float64
 6   prevalentStroke  4238 non-null   object
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4173 non-null   float64
 10  sysBP            4232 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4219 non-null   float64
 13  heartRate        4237 non-null   float64
 14  glucose          3850 non-null   float64
 15  Heart_ stroke    4238 non-null   object
dtypes: float64(8), int64(4), object(4)
memory usage: 529.9+ KB

,Gender,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Heart_ stroke
0,Male,39,postgraduate,0,0.0,0.0,no,0,0,195.0,106.0,70.0,26.97,80.0,77.0,No
1,Female,46,primaryschool,0,0.0,0.0,no,0,0,250.0,121.0,81.0,28.73,95.0,76.0,No
2,Male,48,uneducated,1,20.0,0.0,no,0,0,245.0,127.5,80.0,25.34,75.0,70.0,No
3,Female,61,graduate,1,30.0,0.0,no,1,0,225.0,150.0,95.0,28.58,65.0,103.0,yes
4,Female,46,graduate,1,23.0,0.0,no,0,0,285.0,130.0,84.0,23.10,85.0,85.0,No

In [ ]:
#1. Missing values toldirish

for col_name in df.columns:
    if df[col_name].isnull().any():
        if df[col_name].dtype=='object':
            df[col_name].fillna(df[col_name].mode()[0],inplace=True)
        else:
            df[col_name].fillna(df[col_name].mean(),inplace=True)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           4238 non-null   object
 1   age              4238 non-null   int64
 2   education        4238 non-null   object
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4238 non-null   float64
 5   BPMeds           4238 non-null   float64
 6   prevalentStroke  4238 non-null   object
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4238 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4238 non-null   float64
 13  heartRate        4238 non-null   float64
 14  glucose          4238 non-null   float64
 15  Heart_ stroke    4238 non-null   object
dtypes: float64(8), int64(4), object(4)
memory usage: 529.9+ KB

In [44]:
df.nunique()

Gender                2
age                  39
education             4
currentSmoker         2
cigsPerDay           34
BPMeds                3
prevalentStroke       2
prevalentHyp          2
diabetes              2
totChol             250
sysBP               236
diaBP               146
BMI                1364
heartRate            74
glucose             144
Heart_ stroke         2
dtype: int64

In [46]:
# Encoding

from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

for col_name in df.columns:
    if df[col_name].dtype=='object':
        if df[col_name].nunique()<=4:
            dummies=pd.get_dummies(df[col_name],prefix=col_name,dtype=int)
            df=pd.concat([df.drop(columns=col_name),dummies])
        else:
            df[col_name]=encoder.fit_transform(df[col_name])

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67808 entries, 0 to 4237
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      4238 non-null   float64
 1   currentSmoker            4238 non-null   float64
 2   cigsPerDay               4238 non-null   float64
 3   BPMeds                   4238 non-null   float64
 4   prevalentHyp             4238 non-null   float64
 5   diabetes                 4238 non-null   float64
 6   totChol                  4238 non-null   float64
 7   sysBP                    4238 non-null   float64
 8   diaBP                    4238 non-null   float64
 9   BMI                      4238 non-null   float64
 10  heartRate                4238 non-null   float64
 11  glucose                  4238 non-null   float64
 12  Gender_Female            4238 non-null   float64
 13  Gender_Male              4238 non-null   float64
 14  education_graduate       8476 non-null   float64
 15  education_postgraduate   8476 non-null   float64
 16  education_primaryschool  8476 non-null   float64
 17  education_uneducated     8476 non-null   float64
 18  prevalentStroke_no       16952 non-null  float64
 19  prevalentStroke_yes      16952 non-null  float64
 20  Heart_ stroke_No         33904 non-null  float64
 21  Heart_ stroke_yes        33904 non-null  float64
dtypes: float64(22)
memory usage: 11.9 MB

In [ ]:
# Scaling 1-usul

from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

for col_name in df.columns:
    if df[col_name].dtype!='object':    # != object bolmagan qiymatni yani faqat int,float ni oladi
        df[col_name]=scaler.fit_transform(df[[col_name]])

In [49]:
df.head()

,age,currentSmoker,cigsPerDay,BPMeds,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,...,Gender_Female,Gender_Male,education_graduate,education_postgraduate,education_primaryschool,education_uneducated,prevalentStroke_no,prevalentStroke_yes,Heart_ stroke_No,Heart_ stroke_yes
0,0.184211,0.0,0.000000,0.0,0.0,0.0,0.262150,0.358234,0.232804,0.277024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.368421,0.0,0.000000,0.0,0.0,0.0,0.343152,0.409168,0.349206,0.319680,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.421053,1.0,0.285714,0.0,0.0,0.0,0.335788,0.431239,0.338624,0.237518,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.763158,1.0,0.428571,0.0,1.0,0.0,0.306333,0.507640,0.497354,0.316045,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.368421,1.0,0.328571,0.0,0.0,0.0,0.394698,0.439728,0.380952,0.183228,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           4227 non-null   object
 1   age              4238 non-null   int64
 2   education        4120 non-null   object
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4209 non-null   float64
 5   BPMeds           4176 non-null   float64
 6   prevalentStroke  4238 non-null   object
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4173 non-null   float64
 10  sysBP            4232 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4219 non-null   float64
 13  heartRate        4237 non-null   float64
 14  glucose          3850 non-null   float64
 15  Heart_ stroke    4238 non-null   object
dtypes: float64(8), int64(4), object(4)
memory usage: 529.9+ KB

In [68]:
#Scaling 2-usul

num_col=df.select_dtypes(include=['int64','float64']).columns
df[num_col]=scaler.fit_transform(df[num_col])