In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

# Operations

In [7]:
#operations +,-,/,*,**,//,%
a=15
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)

20
10
75
3.0

In [8]:
print(a//b)
print(a%b)
print(a**b)

3
0
759375

# Data types

In [10]:
# 1. int (integer) – Butun sonlar
# 2. float (floating) – Kasr sonlar: 2.25  -0.34
# 3. string (matnli qiymatlar):  "salom" "AI" "321"
# 4. boolean (mantiqiy qiymatlar) True yoki False.

In [4]:
#Datasetni yuklash
df=pd.read_csv('cybersecurity_intrusion_data.csv')

In [5]:
df.head()

,session_id,network_packet_size,protocol_type,login_attempts,session_duration,encryption_used,ip_reputation_score,failed_logins,browser_type,unusual_time_access,attack_detected
0,SID_00001,599,TCP,4,492.983263,DES,0.606818,1,Edge,0,1
1,SID_00002,472,TCP,3,1557.996461,DES,0.301569,0,Firefox,0,0
2,SID_00003,629,TCP,3,75.044262,DES,0.739164,2,Chrome,0,1
3,SID_00004,804,UDP,4,601.248835,DES,0.123267,0,Unknown,0,1
4,SID_00005,453,TCP,5,532.540888,AES,0.054874,1,Firefox,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9537 entries, 0 to 9536
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   session_id           9537 non-null   object
 1   network_packet_size  9537 non-null   int64
 2   protocol_type        9537 non-null   object
 3   login_attempts       9537 non-null   int64
 4   session_duration     9537 non-null   float64
 5   encryption_used      7571 non-null   object
 6   ip_reputation_score  9537 non-null   float64
 7   failed_logins        9537 non-null   int64
 8   browser_type         9537 non-null   object
 9   unusual_time_access  9537 non-null   int64
 10  attack_detected      9537 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 819.7+ KB

In [7]:
df.tail()

,session_id,network_packet_size,protocol_type,login_attempts,session_duration,encryption_used,ip_reputation_score,failed_logins,browser_type,unusual_time_access,attack_detected
9532,SID_09533,194,ICMP,3,226.049889,AES,0.517737,3,Chrome,0,1
9533,SID_09534,380,TCP,3,182.848475,NaN,0.408485,0,Chrome,0,0
9534,SID_09535,664,TCP,5,35.170248,AES,0.359200,1,Firefox,0,0
9535,SID_09536,406,TCP,4,86.664703,AES,0.537417,1,Chrome,1,0
9536,SID_09537,340,TCP,6,86.876744,NaN,0.277069,4,Chrome,1,1

In [8]:
df.isnull().sum()# tushurib qoldirilgan qiymatlarni aniqlsh

session_id                0
network_packet_size       0
protocol_type             0
login_attempts            0
session_duration          0
encryption_used        1966
ip_reputation_score       0
failed_logins             0
browser_type              0
unusual_time_access       0
attack_detected           0
dtype: int64

In [9]:
df

,session_id,network_packet_size,protocol_type,login_attempts,session_duration,encryption_used,ip_reputation_score,failed_logins,browser_type,unusual_time_access,attack_detected
0,SID_00001,599,TCP,4,492.983263,DES,0.606818,1,Edge,0,1
1,SID_00002,472,TCP,3,1557.996461,DES,0.301569,0,Firefox,0,0
2,SID_00003,629,TCP,3,75.044262,DES,0.739164,2,Chrome,0,1
3,SID_00004,804,UDP,4,601.248835,DES,0.123267,0,Unknown,0,1
4,SID_00005,453,TCP,5,532.540888,AES,0.054874,1,Firefox,0,0
...,...,...,...,...,...,...,...,...,...,...,...
9532,SID_09533,194,ICMP,3,226.049889,AES,0.517737,3,Chrome,0,1
9533,SID_09534,380,TCP,3,182.848475,NaN,0.408485,0,Chrome,0,0
9534,SID_09535,664,TCP,5,35.170248,AES,0.359200,1,Firefox,0,0
9535,SID_09536,406,TCP,4,86.664703,AES,0.537417,1,Chrome,1,0
9536,SID_09537,340,TCP,6,86.876744,NaN,0.277069,4,Chrome,1,1

In [10]:
df['network_packet_size'].value_counts()

network_packet_size
64      139
506      32
487      29
536      28
515      28
       ...
841       1
893       1
967       1
1123      1
905       1
Name: count, Length: 959, dtype: int64

# Conditions

In [11]:
#syntax
a=2
if a>0:
    print('a soni musbat')

a soni musbat

In [12]:
a=-2
if a>0:
    print('a soni musbat')
else:
    print('a soni manfiy')

a soni manfiy

In [13]:
a=0
if a>0:
    print('a soni musbat')
elif a<0:
    print('a soni manfiy')
else:
    print('a soni nolga teng')

a soni nolga teng

In [ ]:
# Operations teng--> == ,   teng emas--> !=
1==1

True

In [15]:
1!=2

True

In [16]:
#O'quvchini baxolash
baxo=int(input('sonni kiriting:'))  #umumiy xolat
if baxo==5:
    print('Alo')
elif baxo==4:
    print('Yaxshi')
elif baxo==3:
    print('Qoniqarli')
elif baxo==2:
    print('Yomon')
elif baxo==1:
    print('Juda yomon')
else:
    print('xatolik bor')

Yaxshi

In [30]:
#Vazifa
# 1.Berilgan sonni musbat  yoki manfiy ekanligini if yordamida aniqlang
# 2.Berilgan sonni juft yoki toq ekanligini aniqlang
# 3.Berigan so'zni boshi va oxirgi xarfini toping
# 4.Berigan so'zni boshidan 2 chi va oxiridan ikkinchi xarfni toping

#1.
a=8
if a>0:
    print("a soni musbat")
else:
    print("a soni manfiy")

a soni musbat

In [31]:
#2.
son = int(input("Son kiriting: "))
if son % 2 == 0:
    print("Bu son juft.")
else:
    print("Bu son toq.")

Bu son toq.

In [ ]:
#3.
s="cybersecurity"
s[0]

'c'

In [35]:
s[-1]

'y'

In [ ]:
#4.Berigan so'zni boshidan 2 chi va oxiridan ikkinchi xarfni toping
s[1]

'y'

In [33]:
s[-2]

't'