In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd

# Data Preprocessing

In [46]:
#1-dataset
df=pd.read_csv('Bank_Personal_Loan_Modelling.csv')

In [47]:
df.info() #ataset haqida umumiy malumot bilish

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   float64
 5   Family              5000 non-null   float64
 6   CCAvg               4999 non-null   float64
 7   Education           4998 non-null   float64
 8   Mortgage            4997 non-null   float64
 9   Personal Loan       4997 non-null   float64
 10  Securities Account  4997 non-null   float64
 11  CD Account          4995 non-null   float64
 12  Online              4993 non-null   float64
 13  CreditCard          4992 non-null   float64
dtypes: float64(10), int64(4)
memory usage: 547.0 KB

In [ ]:
df.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              1
Personal Loan         1
Securities Account    1
CD Account            3
Online                5
CreditCard            5
dtype: int64

# Mean  (O‘rtacha arifmetik) 
Barcha qiymatlarning yig‘indisini ularning soniga bo‘lish orqali topiladi.
Raqamli qiymatlar bilan ishlashda.

In [ ]:
df['Personal Loan'].fillna(df['Personal Loan'].mean(),inplace=True)
#     df['Personal Loan']. --> o'zgartirmoqchi bo'lgan qiymatni nomi beriladi -->
#    -->             fillna --> tushirib qoldirilgan qiymatni to'ldirish(shu ustun ichidagi o'rta arifmetik  qiymat bilan (mean) )
#      -->     inplace=True --> datasetni ichida ham o'zgarishi uchun(agar birmartalik o'zgartirmoqchi bo'lsak yozmasa bo'ladi)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\312433896.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Personal Loan'].fillna(df['Personal Loan'].mean(),inplace=True)

In [49]:
df['Mortgage'].fillna(df['Mortgage'].mean(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\1296012988.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Mortgage'].fillna(df['Mortgage'].mean(),inplace=True)

# Mode (Eng ko‘p takrorlangan qiymat)
Ma’lumot ichida eng ko‘p uchragan qiymat mode deyiladi. 
ex: [Male, Female, Female, Male, Female] → Mode = Female
    [10, 20, 20, 30] → Mode = 20

In [50]:
df['Securities Account'].fillna(df['Securities Account'].mode()[0],inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\3392388751.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Securities Account'].fillna(df['Securities Account'].mode()[0],inplace=True)

# Median (O‘rta qiymat)
faqat raqamli qiymatda ishlatiladi

In [55]:
df['CD Account'].fillna(df['CD Account'].median(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\2764081312.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CD Account'].fillna(df['CD Account'].median(),inplace=True)

In [56]:
df['Online'].fillna(df['Online'].mean(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\2115438073.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Online'].fillna(df['Online'].mean(),inplace=True)

In [57]:
df['CreditCard'].fillna(df['CreditCard'].median(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\3886140598.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CreditCard'].fillna(df['CreditCard'].median(),inplace=True)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   float64
 5   Family              5000 non-null   float64
 6   CCAvg               4999 non-null   float64
 7   Education           4998 non-null   float64
 8   Mortgage            5000 non-null   float64
 9   Personal Loan       5000 non-null   float64
 10  Securities Account  5000 non-null   float64
 11  CD Account          5000 non-null   float64
 12  Online              5000 non-null   float64
 13  CreditCard          5000 non-null   float64
dtypes: float64(10), int64(4)
memory usage: 547.0 KB

In [58]:
df.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 1
Education             2
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [60]:
df['CCAvg'].fillna(df['CCAvg'].mean(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\2357109227.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CCAvg'].fillna(df['CCAvg'].mean(),inplace=True)

In [61]:
df['Education'].fillna(df['Education'].mean(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\3641212661.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Education'].fillna(df['Education'].mean(),inplace=True)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   float64
 5   Family              5000 non-null   float64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   float64
 8   Mortgage            5000 non-null   float64
 9   Personal Loan       5000 non-null   float64
 10  Securities Account  5000 non-null   float64
 11  CD Account          5000 non-null   float64
 12  Online              5000 non-null   float64
 13  CreditCard          5000 non-null   float64
dtypes: float64(10), int64(4)
memory usage: 547.0 KB

In [63]:
#2-dataset
df=pd.read_csv('cybersecurity_intrusion_data.csv')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9537 entries, 0 to 9536
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   session_id           9537 non-null   object
 1   network_packet_size  9537 non-null   int64
 2   protocol_type        9537 non-null   object
 3   login_attempts       9537 non-null   int64
 4   session_duration     9537 non-null   float64
 5   encryption_used      7572 non-null   object
 6   ip_reputation_score  9537 non-null   float64
 7   failed_logins        9536 non-null   object
 8   browser_type         9536 non-null   object
 9   unusual_time_access  9536 non-null   float64
 10  attack_detected      9534 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 819.7+ KB

In [ ]:
df['encryption_used'].fillna(df['encryption_used'].mode()[0],inplace=True) #mode()[0] buyerda [0] --> eng kop takrorlangan qiymatni birinchisidan boshlab royxatdan olish

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\91125382.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['encryption_used'].fillna(df['encryption_used'].mode()[0],inplace=True)

In [67]:
df['failed_logins'].fillna(df['failed_logins'].mode()[0],inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\341933881.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['failed_logins'].fillna(df['failed_logins'].mode()[0],inplace=True)

In [68]:
df['browser_type'].fillna(df['browser_type'].mode()[0],inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\4252560789.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['browser_type'].fillna(df['browser_type'].mode()[0],inplace=True)

In [69]:
df['unusual_time_access'].fillna(df['unusual_time_access'].mean(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\2500490998.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['unusual_time_access'].fillna(df['unusual_time_access'].mean(),inplace=True)

In [70]:
df['attack_detected'].fillna(df['attack_detected'].median(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\1731383804.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['attack_detected'].fillna(df['attack_detected'].median(),inplace=True)

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9537 entries, 0 to 9536
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   session_id           9537 non-null   object
 1   network_packet_size  9537 non-null   int64
 2   protocol_type        9537 non-null   object
 3   login_attempts       9537 non-null   int64
 4   session_duration     9537 non-null   float64
 5   encryption_used      9537 non-null   object
 6   ip_reputation_score  9537 non-null   float64
 7   failed_logins        9537 non-null   object
 8   browser_type         9537 non-null   object
 9   unusual_time_access  9537 non-null   float64
 10  attack_detected      9537 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 819.7+ KB

In [72]:
df.isnull().sum()

session_id             0
network_packet_size    0
protocol_type          0
login_attempts         0
session_duration       0
encryption_used        0
ip_reputation_score    0
failed_logins          0
browser_type           0
unusual_time_access    0
attack_detected        0
dtype: int64

In [73]:
# 3-dataset
df=pd.read_csv('test.csv')

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\2965126896.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('test.csv')

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999997 entries, 0 to 999996
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Age                999997 non-null  int64
 1   Grade              999997 non-null  int64
 2   Gender             999994 non-null  object
 3   Race               999997 non-null  object
 4   SES_Quartile       999997 non-null  object
 5   ParentalEducation  999997 non-null  object
 6   SchoolType         999997 non-null  object
 7   Locale             999997 non-null  object
 8   TestScore_Math     999997 non-null  float64
 9   TestScore_Reading  999995 non-null  float64
 10  TestScore_Science  999997 non-null  float64
 11  GPA                999997 non-null  float64
 12  AttendanceRate     999997 non-null  float64
 13  StudyHours         999995 non-null  float64
 14  InternetAccess     999997 non-null  int64
 15  Extracurricular    999997 non-null  int64
 16  PartTimeJob        999997 non-null  int64
 17  ParentSupport      999996 non-null  float64
 18  Romantic           999996 non-null  float64
 19  FreeTime           999994 non-null  float64
 20  GoOut              999990 non-null  float64
dtypes: float64(10), int64(5), object(6)
memory usage: 160.2+ MB

In [79]:
df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)

In [80]:
df['TestScore_Reading'].fillna(df['TestScore_Reading'].mean(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\4226347658.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TestScore_Reading'].fillna(df['TestScore_Reading'].mean(),inplace=True)

In [77]:
df['StudyHours'].fillna(df['StudyHours'].mean(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\690661526.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['StudyHours'].fillna(df['StudyHours'].mean(),inplace=True)

In [78]:
df['ParentSupport'].fillna(df['ParentSupport'].median(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\4066198888.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ParentSupport'].fillna(df['ParentSupport'].median(),inplace=True)

In [82]:
df['FreeTime'].fillna(df['FreeTime'].mean(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\946126015.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['FreeTime'].fillna(df['FreeTime'].mean(),inplace=True)

In [83]:
df['Romantic'].fillna(df['Romantic'].median(),inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\382769526.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Romantic'].fillna(df['Romantic'].median(),inplace=True)

# Fixed qiymatt orqali to'ldirish
(Bunda ham raqamli ham object qiymatda OK)(ozimiz xoxlagan qiymat bn)

In [86]:
df['GoOut'].fillna('3',inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_7284\3981531201.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['GoOut'].fillna('3',inplace=True)
C:\Users\PC\AppData\Local\Temp\ipykernel_7284\3981531201.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['GoOut'].fillna('3',inplace=True)

In [88]:
df.head()

,Age,Grade,Gender,Race,SES_Quartile,ParentalEducation,SchoolType,Locale,TestScore_Math,TestScore_Reading,...,GPA,AttendanceRate,StudyHours,InternetAccess,Extracurricular,PartTimeJob,ParentSupport,Romantic,FreeTime,GoOut
0,15,10,Female,White,1,HS,Public,City,72.346053,62.217134,...,2.521745,0.868836,0.310172,0,1,1,1.0,0.0,3.0,3.0
1,16,11,Female,Hispanic,1,<HS,Private,City,77.889157,72.748030,...,3.275626,0.909595,1.175586,1,1,0,0.0,1.0,3.0,1.0
2,17,12,Female,Black,2,HS,Public,Rural,72.966587,65.585472,...,2.974137,0.870952,1.112556,1,1,0,0.0,0.0,3.0,3.0
3,16,11,Female,White,2,HS,Public,Town,96.674049,88.035852,...,3.676590,1.000000,1.067679,0,0,0,0.0,1.0,4.0,5.0
4,16,11,Male,Black,3,Bachelors+,Public,Rural,81.989270,77.485372,...,2.255014,0.897957,0.841936,0,1,0,1.0,0.0,4.0,2.0

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999997 entries, 0 to 999996
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Age                999997 non-null  int64
 1   Grade              999997 non-null  int64
 2   Gender             999997 non-null  object
 3   Race               999997 non-null  object
 4   SES_Quartile       999997 non-null  object
 5   ParentalEducation  999997 non-null  object
 6   SchoolType         999997 non-null  object
 7   Locale             999997 non-null  object
 8   TestScore_Math     999997 non-null  float64
 9   TestScore_Reading  999997 non-null  float64
 10  TestScore_Science  999997 non-null  float64
 11  GPA                999997 non-null  float64
 12  AttendanceRate     999997 non-null  float64
 13  StudyHours         999997 non-null  float64
 14  InternetAccess     999997 non-null  int64
 15  Extracurricular    999997 non-null  int64
 16  PartTimeJob        999997 non-null  int64
 17  ParentSupport      999997 non-null  float64
 18  Romantic           999997 non-null  float64
 19  FreeTime           999997 non-null  float64
 20  GoOut              999997 non-null  object
dtypes: float64(9), int64(5), object(7)
memory usage: 160.2+ MB

# Tashlab yuborish (Kamchilik kop bolganda)
drop orqali

In [ ]:
df.dropna('GoOut',axis=1,inplace=True) #Ustun tashlab yuboriish (qiymatda juda kop kamchilik bolsa)